

  <!-- her lager vi navigasjonsmenyen i toppen -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        
        <!-- Navbar-brand for tittelen til siden -->
        <a href="{{site.baseurl}}/" class="navbar-brand">Sindres hjemmeside</a>

        <!-- Div'er som lager dropdown-knappen -->
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        <!-- Dropdown-menyen -->
        <div class="collapse navbar-collapse navHeaderCollapse">

          <!-- Dersom en knapp skal være aktiv kan man legge til class="active" på et element som feks en knapp. -->
          <ul class="nav navbar-nav navbar-right">
            {% if page.active == "Hjem" %}
            <li class="active"><a href="{{site.baseurl}}/">Hjem</a></li>
            {% else  %}
            <li><a href="{{site.baseurl}}/">Hjem</a></li>
            {% endif %}
            {% if page.active == "aboutMe" %}
            <li class="active"><a href="{{site.baseurl}}/aboutMe/">Om Meg</a></li>
            {% else %}
            <li><a href="{{site.baseurl}}/aboutMe/">Om Meg</a></li>
            {% endif %}
            <li><a href="#kontakt" data-toggle="modal">Kontakt meg</a></li>
            <li><a href="http://twitter.com/sndrem" target="_blank"><i class="fa fa-twitter"></i></a></li>
            <li><a href="http://facebook.com/sindremoldeklev" target="_blank"><i class="fa fa-facebook"></i></a></li>
            <li><a href="http://instagram.com/sndrem" target="_blank"><i class="fa fa-instagram"></i></a></li>
          </ul>

        </div> 
    </div>
  </div> <!-- Slutt på navigasjon -->


