

  <!-- her lager vi navigasjonsmenyen i toppen -->
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        
        <!-- Navbar-brand for tittelen til siden -->
        <a href="{{site.baseurl}}/" class="navbar-brand">Sindres hjemmeside</a>

        <!-- Div'er som lager dropdown-knappen -->
        <button class="navbar-toggle" data-toggle="collapse" data-target=".navHeaderCollapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>


        <!-- Dropdown-menyen -->
        <div class="collapse navbar-collapse navHeaderCollapse">

          <!-- Dersom en knapp skal være aktiv kan man legge til class="active" på et element som feks en knapp. -->
          <ul class="nav navbar-nav navbar-right">
            {% if page.active == "Hjem" %}
            <li class="active"><a href="{{site.baseurl}}/">Hjem</a></li>
            {% else  %}
            <li><a href="{{site.baseurl}}/">Hjem</a></li>
            {% endif %}
            {% if page.active == "aboutMe" %}
            <li class="active"><a href="{{site.baseurl}}/aboutMe.html">Om Meg</a></li>
            {% else %}
            <li><a href="{{site.baseurl}}/aboutMe.html">Om Meg</a></li>
            {% endif %}
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Sosiale medier <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="https://twitter.com/sndrem" target="_blank">Twitter</a></li>
                <li><a href="https://www.facebook.com/sindre.moldeklev" target="_blank">Facebook</a></li>
                <li><a href="http://instagram.com/sndrem/" target="_blank">Instagram</a></li>
              </ul> 
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Prosjekter <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="pappasSide/index.html" target="_blank">Flisespikkeriet</a></li>
                
              </ul> 
            </li>
            <li><a href="#kontakt" data-toggle="modal">Kontakt meg</a></li>
          </ul>

        </div> 
    </div>
  </div> <!-- Slutt på navigasjon -->


